<h1>Salut! Confirmez votre mail SVP!</h1>

<p>
    Veuillez cliquer sur le lien suivant pour confirmer votre adresse mail: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmation</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
