{% extends 'base.html.twig' %}
{% block title %} redirection page {% endblock %}

{% block body %}
    <h1>Veuillez consultez votre boîte mail pour confirmer l'adresse mail en cliquant sur le lien</h1>
{% endblock %}